<div class="wrapper">
  <header>
    <h1><strong><a href="../guide/index.html">Destructuring</a></strong></h1>
    <p>&nbsp;</p>
    <ul>
      <li><a href="../guide/index.html">get <strong>started</strong></a></li>
      <li><a href="../demo/index.html">test<strong>drive</strong></a></li>
      <li><a href="../project/support.html">talk to <strong>me</strong></a></li>
      <li><a href="../project/about.html">my <strong>resume</strong></a></li>
      <li><a href="../contribute/index.html">go <strong>contribute!</strong></a></li>
      </ul>
    </ul>
  </header>
