<div class="wrapper">
  <header>
    <h1><a href="../guide/index.html">Modernist</a></h1>
    <p>A Theme for GitHub Pages</p>
    <p class="view"><a href="http://github.com/orderedlist/modernist">View the Project on GitHub <small>orderedlist/modernist</small></a></p>
    <ul>
      <li><a href="../guide/index.html">get <strong>started</strong></a></li>
      <li><a href="../docs/index.html">read the <strong>manual</strong></a></li>
      <li><a href="../project/support.html">get <strong>support</strong></a></li>
      <li><a href="../project/about.html">&nbsp; <strong>about</strong></a></li>
      <li><a href="../contribute/index.html">go <strong>contribute</strong></a></li>
      </ul>
    </ul>
  </header>
