/.Xauthority
/.CFUserTextEncoding
/.bash_history
/.gpg-agent-info
/.htoprc
/.irb-history
/.irb_history
/.lesshst
/.serverauth.*
/.ssh-agent-info
/.sudo_as_admin_successful
/.DS_Store
/.gitconfig
/.subversion/
/REVISION
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/VirtualBox VMs/
/.cabal/
/.ghc/
/pub/
/.bundle/
/vendor/bundle/
/*.gem
/.viminfo
*.swp
/server
/.rnd
