/.CFUserTextEncoding
/.Trash
/.Xauthority
/.bash_history
/.gpg-agent-info
/.htoprc
/.irb-history
/.irb_history
/.lesshst
/.serverauth.*
/.ssh-agent-info
/.sudo_as_admin_successful
/.DS_Store
/.gitconfig
/.subversion/
/REVISION
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Kicksend/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/Software/
/VirtualBox VMs/
/.cabal/
/.ghc/
/.bundle/
/vendor/bundle/
/*.gem
/.viminfo
*.swp
/server
/.rnd
/.rvm-use
/.vagrant.d
/vault
/vault_installer
/VirtualBox VMs
/.ruby_inline
/.display
/.secrets
/.pancake
/.zlogin
/.zshrc
/.rbenv-version
/.deploy/defn
/.rvm
/.mysql_history
/.cache
/.getting-started
