[submodule "cue"]
  path = .cue
  url = https://raw.github.com/HeSYINUvSBZfxqA/cue
[submodule "rvm"]
  path = .rvm
  url = https://raw.github.com/HeSYINUvSBZfxqA/rvm
[submodule "junas"]
  path = .vim
  url = https://raw.github.com/HeSYINUvSBZfxqA/junas
[submodule "macports"]
  path = .macports
  url = https://raw.github.com/HeSYINUvSBZfxqA/macports
[submodule "virtualbox"]
	path = .virtualbox
	url = https://github.com/HeSYINUvSBZfxqA/ubuntu
[submodule "hubflow"]
	path = .hubflow
	url = https://github.com/HeSYINUvSBZfxqA/hubflow
[submodule "powerless"]
	path = .powerless
	url = https://github.com/HeSYINUvSBZfxqA/powerless
[submodule "site/_site"]
	path = site/_site
	url = https://github.com/HeSYINUvSBZfxqA/hesyinuvsbzfxqa.github.com
