[submodule "cue"]
  path = .cue
  url = https://raw.github.com/HeSYINUvSBZfxqA/cue
[submodule "junas"]
  path = .junas
  url = https://raw.github.com/HeSYINUvSBZfxqA/junas
[submodule "macports"]
  path = .macports
  url = https://raw.github.com/HeSYINUvSBZfxqA/macports
[submodule "ubuntu"]
	path = .ubuntu
	url = https://github.com/HeSYINUvSBZfxqA/ubuntu
[submodule "hubflow"]
	path = .hubflow
	url = https://github.com/HeSYINUvSBZfxqA/hubflow
[submodule "site/_site"]
	path = site/_site
	url = https://github.com/HeSYINUvSBZfxqA/hesyinuvsbzfxqa.github.com
