/.CFUserTextEncoding
/.Trash
/.Xauthority
/.bash_history
/.gpg-agent-info
/.htoprc
/.irb-history
/.irb_history
/.lesshst
/.serverauth.*
/.ssh-agent-info
/.sudo_as_admin_successful
/.DS_Store
/.gitconfig
/.subversion/
/REVISION
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Kicksend/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/Software/
/VirtualBox VMs/
/.cabal/
/.ghc/
/.bundle/
/vendor/bundle/
/vendor/perl5/
/*.gem
/.viminfo
*.swp
/server
/.rnd
/.rvm-use
/.vagrant.d
/vault
/vault_installer
/VirtualBox VMs
/.ruby_inline
/.display
/.secrets
/.zlogin
/.zshrc
/.deploy/defn
/.mysql_history
/.cache
/.getting-started
/.local
/.johnny
/.pancake
/cache
/backup
*.orig
/local
/bar
/vagrant
/.tmp
/service
/.cpan
/.erlang.cookie
/perl5
/log
/DOS Games
/install
/crash.log
/tmp
*.orig
/.sass-cache
/.name
/.br-cloud.yml
/notes
/.guard_history
/alien
/.gitcycle.yml
/dbox
