[submodule "cue"]
  path = .cue
  url = https://raw.github.com/destructuring/cue
[submodule "junas"]
  path = .junas
  url = https://raw.github.com/destructuring/junas
[submodule "hubflow"]
	path = .hubflow
	url = https://github.com/destructuring/hubflow
[submodule ".paul"]
	path = .paul
	url = https://github.com/destructuring/paul
[submodule ".aaron"]
	path = .aaron
	url = https://github.com/destructuring/aaron
[submodule "apps/sigmeh"]
	path = apps/sigmeh
	url = https://github.com/destructuring/sigmeh
[submodule ".yarvm"]
	path = .yarvm
	url = https://github.com/destructuring/yarvm
[submodule "apps/12factor"]
	path = apps/12factor
	url = https://github.com/destructuring/12factor
[submodule "apps/geminabox"]
	path = apps/geminabox
	url = https://github.com/destructuring/geminabox
[submodule "apps/mmtop"]
	path = apps/mmtop
	url = https://github.com/destructuring/mmtop
