----- 
permalink: home
filters_pre: 
- erb
title: Home
type: page
-----
<div class="row">
  <section class="span8" id="main-content">
  Main content
    <p><a href="/archives/">&larr; Older Articles</a></p>
  </section><!-- #main-content end -->

  <section class="span4" id="secondary-content">
    <span class="featured">Popular Content</span>
    Popular content
  </section><!-- #secondary-content-end -->
</div>
