#!/usr/bin/env ruby

require 'alpha_omega/deploy'

namespace :application do
  task :update_code do
  end

  task :restart do
  end
end

namespace :microwave do
  task :cook do
    run "cd #{deploy_release} && bin/microwave -n #{dna["app_env"]}"
  end
end

after "deploy:update_code","application:update_code"
after "deploy:cook", "microwave:cook"
after "deploy:restart","application:restart"

# interesting hosts
Deploy self, __FILE__ do |admin, node| 
  if node["run_list"].member?("role[application]")
    { :deploy => { }
    }
  end
end
