#!/usr/bin/env ruby

require 'alpha_omega/deploy'
load 'config/deploy'

# application deploy
namespace :application do
  task :update_code do
  end

  task :restart do
  end
end

# hooks into alpha_omega deploy
after "deploy:update_code", "application:update_code"
after "deploy:restart", "application:restart"

# interesting hosts
Deploy self, __FILE__ do |admin, node| 
  if node["run_list"].member?("role[application]")
    { :deploy => { } }
  end
end
