#!/usr/bin/env ruby

require 'alpha_omega/deploy'
load 'config/deploy_challenge'
load 'config/deploy_notify'

# application deploy
namespace :application do
  task :update_code do
    update_assets unless deploy_path_name == migrate_path_name 
  end

  task :update_assets do
  end

  task :restart do
  end
end

namespace :microwave do
  task :hack do
    run "[[ -L #{deploy_release}/log ]] || rm -rf #{deploy_release}/log"
  end

  task :cook do
    hack
    run "cd #{deploy_release} && bin/microwave -n #{dna["app_env"]}"
  end
end

# hooks into alpha_omega deploy
after "deploy:update_code", "application:update_code"
after "deploy:cook", "microwave:cook"
after "deploy:restart", "application:restart"

# interesting hosts
Deploy self, __FILE__ do |admin, node| 
  if node["run_list"].member?("role[application]")
    { :deploy => { }
    }
  end
end
