-----
filter: erb
-----
<%
	author = @item[:author] || @site.config[:author_name]
%><header class="row">
	<hgroup class="span9">
		<h1><%= @item[:title] %></h1>
		<% if !@item[:subtitle].blank? then %>
			<h2><%= @item[:subtitle] %></h2>
		<% end %>
	</hgroup>
	<% if @item[:type] == 'article' then %>
	<ul class="unstyled article-info span3">
    <li>
    <i class="icon-calendar"></i> <time datetime="<%= @item[:date].to_iso8601_time %>"><%= @item[:date].strftime("%A, %B %d %Y") %></time>
    </li>
	</p>
	<% end %>
</header>
