{% include header.html %}

<sidebar>
<ul>
  <li{% if page.current == 'Overview' %}      class="active"{% endif %}><a href="../guide/index.html">Overview</a></li>
  <li{% if page.current == 'Why XXX?' %}      class="active"{% endif %}><a href="../guide/why.html">Why Vagrant?</a></li>
  <li{% if page.current == 'Introduction' %}  class="active"{% endif %}><a href="../guide/introduction.html">Introduction</a></li>
  <li{% if page.current == 'Project Setup' %} class="active"{% endif %}><a href="../guide/setup.html">Project Setup</a></li>
</ul>
</sidebar>

{% include topbar.html %}

<section>
  {{ content }}
</section>

{% include footer.html %}
